body{
    background-color: hsl(233, 47%, 7%);
}

.holder{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.mimg{
     width: 85%;
     border-top-left-radius: 10px;
     border-top-right-radius:10px;
    
}



.block1{
    width: 375px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    position: relative;
    
}
.block2{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    
}
.imgBg{
    width: 85%;
    height: 100%;
    background-color: #a055ce;
    opacity: 0.5;
    z-index: 10;
    position: absolute;
}
.cardbackground{
    background-color: hsl(244, 38%, 16%);
}
.block3{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
}

.block4{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    
}
.block5{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    
   
}
.block6{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    
}
#h3{
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;
    padding-top: 12px;
    
}
#h4{
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;
    padding-top: 12px;
    
}

#paragraph1{
    text-align: center;
    width: 240px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;

}

.block456{
    text-align: center;
}

#paragraph2{
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    font-size: small;
}
.lastparagraph{
    margin-bottom: 30px;
}

/* DESKTOP */
@media only screen and (min-width: 1339px)
    {
    body{
        background-color: black;
    }
    .grid-container{
        display: grid;
        flex-direction: column;
        margin-top: 450px;
        margin-left: 0px;
        margin-right:70px;
        padding-left: 70px;
        
        
        
    }
    .grid-item1{
        grid-column-start: 2;
        grid-column-end: 2;
        
        
    }
    .grid-item2{
        grid-column-start:1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        
    }
    
    
    .block2{
        width: 92.7%;
        
        
       
        
    }
    .block3{
        width: 92.7%;
        margin-bottom: -30px;
        
        
       
    }
    .holder2{
        display: flex;
        width: 100%;
        
        
        
        
    }
    
   
    .block4{
        width: 33.3333%;
        margin-right: 0px;
        padding-bottom: 50px;
        padding-top: 55px;
        Padding-left: 100px;
        
        
        
        
       
    }
    .block5{
        width: 33.33333%;
        margin-left: -80px;
        padding-top: 50px;
        padding-bottom: 50px;
      
        
    }
    .block6{
        width: 33.33333%;
        margin-left: -80px;
        margin-right: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        
        
    }
    .mimg{
        width: 158%;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
        margin-right: 10px;
    }
    .imgBg{
        width: 158%;
        margin-right: 10px;
        border-bottom-right-radius: 20px;
    }
    .block1{
        margin-top: 0px;
        margin-left: 100px;
        
    }
    #h3{
        
        text-align: left;
       

        
        
        
    }
    #h4{
        width:300px;
        font-size: 27px;
        text-align: left;
        margin-left: -80px;
       
        
    }
   #paragraph1{
            text-align: left;
            height:100px;
            width: 380px;
            font-size: large;
            padding-top: 20px;
   }
   #paragraph2{
            text-align: left;
   }

}