body{
    background-color: hsl(233, 47%, 7%);
}

.holder{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.mimg{
     width: 85%;
     border-top-left-radius: 10px;
     border-top-right-radius:10px;
    
}



.block1{
    width: 375px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    position: relative;
    
}
.block2{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    
}
.imgBg{
    width: 85%;
    height: 100%;
    background-color: #a055ce;
    opacity: 0.5;
    z-index: 10;
    position: absolute;
}
.cardbackground{
    background-color: hsl(244, 38%, 16%);
}
.block3{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
}

.block4{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    
}
.block5{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    
   
}
.block6{
    width:320px;
    margin-left: 7.25%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    
}
#h3{
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;
    padding-top: 12px;
    
}

#paragraph1{
    text-align: center;
    width: 240px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;

}

.block456{
    text-align: center;
}

#paragraph2{
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    font-size: small;
}
.lastparagraph{
    margin-bottom: 30px;
}
